.profile-row{
    display: flex;
    justify-content: center;
    height: calc(100vh - var(--header-height));
}

.user{
    display: flex;
    align-items: center;
}

.profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: green;
    color: white;
    margin-right: 10px;
}

.username{
    margin-bottom: 0;
}

#scoreboard-container{
    background-image: linear-gradient(to top, #63d9ea, #066ee2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel-heading{
    /* font-family: ProximaNovaA; */
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.7px;
    text-align: left;
    color: #ffffff;
    margin-top: 50px;
    width: 70%;
}

hr{
    border: 1px solid white;
    width: 80%;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 5px;
}

table{
    width: 70%;
}

table>tbody>tr, table>tfoot>tr{
    border-color: white;
    /* font-family: ProximaNovaA; */
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffffff;
} 

td{
    padding-top: 6px;
    padding-bottom: 2px;
}

tfoot tr{
    border-top: 2px solid white;
}

tbody>tr:first-of-type>td{
    border-top: none !important;
}

tbody:last-child, tfoot:last-child{
    border-bottom: 1px solid white;
}