<h1>{{title}}</h1>
<p>API for KhanAcademy Swipe</p>
<ul>
    <li><a href="http://node-express-env.ft838mhenj.eu-west-1.elasticbeanstalk.com/texts/string">GET random string</a></li>
    <li><a href="http://node-express-env.ft838mhenj.eu-west-1.elasticbeanstalk.com/texts/string">POST your score of string</a></li>
    <li><a href="http://node-express-env.ft838mhenj.eu-west-1.elasticbeanstalk.com/texts/topList">GET leaderboard</a></li>
    <li><a href="http://node-express-env.ft838mhenj.eu-west-1.elasticbeanstalk.com/texts/score">GET users score</a></li>
</ul>