.header {
    min-height: var(--header-height);
    background: white;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 4px;
}

.page-1 {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.page-1:hover {
    cursor: pointer;
}

#header-left-items {
    display: flex; 
    align-items: center;
}

.header-right-items {
    display: flex;
    align-items: center;
}



#sign-out-button {
    font-family: 'Proxima Nova', Georgia, sans-serif;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 0.7px;
	text-align: right;
    color: #066ee2;
    margin-bottom: 0;
}

#sign-out-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

#khan-icon-holder>img {
    width: 100%;
    height: 100%;
}

h4 {
    color:#0670e1;
    font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.7px;
}

h1 {
    border: 1px solid black;
    display: inline;
}

.user-icon{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: blue;
    color: white;
}

.profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #066ee2;
    color: white;
    margin-right: 10px;
}

.profile-pic>img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}