<div class="container-fluid">
<div class="row">
    <div class="col-md-12 header">
      <div id="header-left-items">
          <div id="khan-icon-holder">
              <img (click)="goToApp()" class="page-1" src="../../assets/page-2.svg" />    
          </div>    
      </div>
      <div class="header-right-items" *ngIf="isAuthenticated && !isProfilePage">
        <div class="profile-pic" (click)="seeProfile()" ><img src="" alt=""></div>
        <div> <p id="sign-out-button" (click)="signOut()"> Sign out </p> </div>
      </div>
    </div>   
  </div>
</div>