/* You can add global styles to this file, and also import other style files */
:root {
    --header-height: 64px;
    
    /* COLORS */
    --cerulean-blue: #066ee2; 
    --textcolor: #5e5e5e;
}

body{
    font-family: 'Proxima Nova', Georgia, sans-serif;
}